rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    
    // Coleção de Usuários
    match /users/{cpf} {
      allow read, write: if request.auth != null && (request.auth.token.cpf == cpf || request.auth.token.role == "admin");
    }

    // Coleção de Projetos
    match /projects/{projectId} {
      allow read: if request.auth != null && (resource.data.clientId == request.auth.token.cpf || request.auth.token.role == "admin");
      allow create: if request.auth != null && request.resource.data.clientId == request.auth.token.cpf;
      allow update: if request.auth != null && (resource.data.clientId == request.auth.token.cpf || request.auth.token.role == "admin");
    }

    // Coleção de Documentos
    match /documents/{docId} {
      allow read, write: if request.auth != null && (resource.data.clientId == request.auth.token.cpf || request.auth.token.role == "admin");
    }
    
    // Coleção de Propostas
    match /proposals/{proposalId} {
      allow read: if request.auth != null && (get(/databases/$(database)/documents/projects/$(resource.data.projectId)).data.clientId == request.auth.token.cpf || request.auth.token.role == "admin");
      allow write: if request.auth != null && request.auth.token.role == "admin";
    }
  }
}
